HTML CSSResult
EDIT ON
body {
        background-color: #F3EBF6;
        font-family: 'Ubuntu', sans-serif;
    }
    
    .main {
        background-color: #F3EBF6;
        width: 20%;
        margin: 7em auto;
        border-radius: 1.5em;
        box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
    }

    .logo {
        width: 100px;
        height: 100px;
        padding-top: 25px;
        display: block;
        margin: auto;
    }
    
    .name {
        padding-top: 0px;
        color: #595959;
        font-family: 'Ubuntu', sans-serif;
        font-weight: bold;
        font-size: 26px;
        padding-top: 15px;
        padding-bottom: 0px;
        display: inline-block;
        margin: auto;
        margin-left: 35%;

     }

    .sign {
        padding-top: 2px;
        color: #3ce03c;
        font-family: 'Ubuntu', sans-serif;
        font-weight: bold;
        font-size: 23px;
        padding-bottom: 0px;
    }
    
    .email {
    width: 76%;
    color: rgb(38, 50, 56);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.04);
    padding: 10px;
    border: none;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    margin-bottom: 27px;
    margin-left: 46px;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    }
    
    
    
    .pass {
    width: 76%;
    color: rgb(38, 50, 56);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.04);
    padding: 10px;
    border: none;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    margin-left: 46px;
    text-align: center;
    margin-bottom: 27px;
    font-family: 'Ubuntu', sans-serif;
    }
    
   
    .un:focus, .pass:focus {
        border: 2px solid rgba(0, 0, 0, 0.18) !important;
        
    }
    
    .submit {
      cursor: pointer;
        border-radius: 5em;
        color: #fff;
        background: linear-gradient(to right, #3ce03c, #a7f1a7);
        border: 0;
        margin-bottom: 50%;
        padding-left: 40px;
        padding-right: 40px;
        padding-bottom: 10px;
        padding-top: 10px;
        font-family: 'Ubuntu', sans-serif;
        margin-left: 35%;
        display: inline-block;
        margin-bottom: 20px;
        font-size: 13px;
        box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
    }

    .register {
        cursor: pointer;
        border-radius: 5em;
        color: #fff;
        background: linear-gradient(to right, #3ce03c, #a7f1a7);
        padding-left: 40px;
        padding-right: 40px;
        padding-bottom: 10px;
        padding-top: 10px;
        font-family: 'Ubuntu', sans-serif;
        display: inline-block;
        margin-left: 30%;
        margin-bottom: 0px;
        font-size: 13px;
        box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
    }

    .recover {
	cursor: pointer;
        border-radius: 5em;
        color: #fff;
        background: linear-gradient(to right, #3ce03c, #a7f1a7);
        padding-left: 40px;
        padding-right: 40px;
        padding-bottom: 10px;
        padding-top: 10px;
        font-family: 'Ubuntu', sans-serif;
        
        margin-left: 25%;
        margin-bottom: 0px;
        font-size: 13px;
        
	}
    
    .forgot {
        text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
        color: #3ce03c;
        padding-top: 15px;
    }
    
    a {
        text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
        color: #3ce03c;
        text-decoration: none
    }
    
    @media (max-width: 600px) {
        .main {
            border-radius: 0px;
        }
        
        




Resources1×0.5×0.25×Rerun
